header {

    display: flex;
    align-items: center;
    justify-content: space-around;
}

img.logo {

    width: 300px;
    height: 150px;
}

ul {

    display: flex;
    list-style: none;
}

li {

    margin: 0 16px;

    transition: all 0.2s;
}

li:hover {

    cursor: pointer;
    opacity: 0.7;
    text-decoration: underline;
}